            html {
                scroll-behavior: smooth;
            }
        
            body {
                background-color: #f5d9d5 !important;
                font-family: 'Nunito', sans-serif;
                
            }
            .navbar {
                background-color: transparent;
            }
            .nav-item a:hover {
                color: #C71585 !important;
            }
            .top-nav-collapse {
                background-color: #FF69B4;
            }
            .candy-text {
                color: #C71585;
            }
           .lead {
                font-weight:100 !important;
                font-size: 1.125rem;
                line-height: 2;
           }
            .heading-group h1 {
                color: #C71585;
            }
            h2 {
                font-weight: 250 !important;
            }
            .heading-group span {
                font-weight: 500;
            }
            .img-fluid {
                height: 500px !important;
                width: 100%;
            }
            .content {
                margin-bottom: 70px;
            }
            @media only screen and (max-width: 768px) {
                .img-fluid {
                    height: 300px !important;
                }
                .content {
                    margin-bottom: 0px;
                }
            }
